.berita .col-1, .berita .col-2 {
    width: 100%;
}

.berita .items {
    width: 100%;
    transition: all 0.5s ease;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 250px));
    grid-auto-rows: minmax(200px, 300px);
    justify-content: center;
}

.berita h3 {
    margin: 12px;
}

.items img {
    width: 80%;
}