.account {
    width: 100%;
}

.account .profile {
    width: 100%;
    height: 350px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.account .profile img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.account .profile .nama {
    font-size: 24px;
    color: white;
    font-weight: 600;
    margin: 12px 0 0 0;
}

.account .isi {
    text-align: left;
    width: 80%;
    margin: auto;
    padding: 12px;
    text-align: center;
}

.account .isi h3 {

}

.account .isi p {
    font-size: 20px;

}

.account .isi .items {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.account .isi .items .item a {
    width: 100%;
    text-align: left;
    text-decoration: none;
    color: black;
    width: 100%;
}

.account .isi .items .item a .img {
    float: left;
    width: 100px;
    margin: 5px;
}

.account .isi .items .item a .img img {
    width: 100%;
}

.account .isi .items .item a .title {
    font-weight: 600;
    font-size: 12px;
}

.account .isi .items .item a .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}